name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: 'v2.3.0'

      - name: Test
        run: go test -v -coverprofile=coverage.out ./...

      - name: Coverage Check
        run: |
          go install github.com/mach6/go-covercheck/cmd/go-covercheck@v0.6.1
          go-covercheck coverage.out -C v0.6.1

      - name: Build
        run: go build -v ./...

      - name: Build Docker Image
        run: docker build -t go-covercheck .
